
MONGODB_URI=mongodb://localhost:27017
MONGODB_NAME=subs
NODE_ENV=development

# +++++++
# CORS
cors='{"origin":"https://canada.ca","optionSucessStatus":200}'

# default: dev
LOG_FORMAT=dev
# NODE_ENV=prod
# ServerStatusPath=/admin/sys-status

# +++++++
# URL
# errorPage=https://canada.ca
# confirmBaseURL=https://apps.canada.ca/x-notify/subs/confirm/
# removeURL=https://apps.canada.ca/x-notify/subs/remove/
#

COMPLETED_JOBS_TO_KEEP=300 #Max number of completed jobs to keep in queue.  Older jobs are automatically purged.

# +++++
# BasicAuth
user=username
password=password

keySalt=salt
validHosts=["localhost:8080"]


# Setting require to enable 50k more download
CDS_NOTIFY_END_POINT=
CDS_NOTIFY_KEY=
CDS_NOTIFY_SEND_EMAIL_TO=["email@ example.com"]
CDS_NOTIFY_TEMPLATE_ID=

AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=


# REDIS
REDIS_ENV=stage
REDIS_URI=x-notify-redis
REDIS_PORT=6379
REDIS_SENTINEL_1_URI=127.0.0.1
REDIS_SENTINEL_1_PORT=26379
REDIS_SENTINEL_2_URI=127.0.0.1
REDIS_SENTINEL_2_PORT=26379
REDIS_MASTER_NAME=x-notify-master

# Setting trasnport info
transport='{"host":"","port":"587","secure": true,"auth":{"user":"","pass":""}}'

# Prevent TLS error
NODE_TLS_REJECT_UNAUTHORIZED='0'