<label>createdAt:&nbsp;&nbsp;{{createdAt}}</label><br><br>
<label>lastUpdated:&nbsp;&nbsp;{{lastUpdated}}</label><br><br>
<label>groupName:</label><br>
<input type="text" name="put_groupName" value="{{groupName}}"><br><br>
<label>description:</label><br>
<input type="text" name="put_description" value="{{description}}"><br><br>
<label>lang</label><br>
<input type="text" name="put_lang" value="{{lang}}"><br><br>
<label>langAlt:</label><br>
<input type="text" name="put_langAlt" value="{{langAlt}}"><br><br>
